<div fxLayout="row wrap">

<div fxFlex="20%">Hi</div>

<div fxFlex="30%">
  <div class="mat-title">Add Video Metadata</div>
  <form [formGroup]="videoDetailsFrom" (ngSubmit)="onSaveVideoDetails()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Title:</mat-label>
        <input matInput formControlName="title" placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Description:</mat-label>
        <input matInput formControlName="description" placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Status:</mat-label>
        <mat-select formControlName="videoStatus" >
          <mat-option value="PUBLIC">Public</mat-option>
          <mat-option value="PRIVATE">Private</mat-option>
          <mat-option value="UNLISTED">Unlisted</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Tags:</mat-label>
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(tag)">
            {{tag}}
            <button matChipRemove *ngIf="removable">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="New tag..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

    </p>
    <p>
      <label for="inputGroupFile01">Upload Thumbnail:
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" accept='image/*'
                  aria-describedby="inputGroupFileAddon01" (change)="onFileSelected($event)">
        </div>
        <br/>
        <div *ngIf="isFileSelected">
          <div>
            <p>Selected File: {{selectedFileName}}</p>
          </div>
          <p>
            <img class="img" [src]="selectedFilePath" width="150" alt=""/>
            <span style="color:red;" *ngIf="message">{{message}}</span>
          </p>
          <hr>
          <div>
            <button mat-raised-button color="primary" type="button" (click)="onUpload()">Upload</button>
            <button mat-raised-button color="warn" type="button" (click)="OnRemoveImage()">Remove</button>
          </div>
        </div>

      </label>
    </p>
    <p>
      <button type="submit" mat-raised-button color="primary">Save</button>
    </p>
  </form>
</div>

<div fxFlex="30%">
  <app-video-player [videoUrl]="videoUrl"></app-video-player>
</div>

<div fxFlex="20%">
  Hi
</div>

</div>




